<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Components/Dropdown
 | Bulma: Free, open source, and modern CSS framework based on Flexbox
</title>

    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <link rel="stylesheet" href="https://bulma.io/css/bulma.css?v=202205081717">
  </head>
  <body>
    



<div id="dropdown" class="dropdown">
  
<div class="dropdown-trigger">
  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
    <span>Dropdown button</span>
    <span class="icon is-small">
      <i class="fas fa-angle-down" aria-hidden="true"></i>
    </span>
  </button>
</div>

  
<div class="dropdown-menu">
  <div class="dropdown-content">
    <a href="#" class="dropdown-item">
      Dropdown item
    </a>
    <a class="dropdown-item">
      Other dropdown item
    </a>
    <a href="#" class="dropdown-item is-active">
      Active dropdown item
    </a>
    <div class="dropdown-item">
      <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
    </div>
    <a href="#" class="dropdown-item">
      Other dropdown item
    </a>
    <hr class="dropdown-divider">
    <a href="#" class="dropdown-item">
      With a divider
    </a>
  </div>
</div>

</div>

<div id="dropdown-active" class="dropdown is-active">
  
<div class="dropdown-trigger">
  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
    <span>Dropdown button</span>
    <span class="icon is-small">
      <i class="fas fa-angle-down" aria-hidden="true"></i>
    </span>
  </button>
</div>

  
<div class="dropdown-menu">
  <div class="dropdown-content">
    <a href="#" class="dropdown-item">
      Dropdown item
    </a>
    <a class="dropdown-item">
      Other dropdown item
    </a>
    <a href="#" class="dropdown-item is-active">
      Active dropdown item
    </a>
    <div class="dropdown-item">
      <p>You can insert <strong>any type of content</strong> within the dropdown menu.</p>
    </div>
    <a href="#" class="dropdown-item">
      Other dropdown item
    </a>
    <hr class="dropdown-divider">
    <a href="#" class="dropdown-item">
      With a divider
    </a>
  </div>
</div>

</div>

  </body>
</html>
