<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Components/Navbar
 | Bulma: Free, open source, and modern CSS framework based on Flexbox
</title>

    <link rel="stylesheet" href="https://versions.bulma.io/0.9.4/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
    <link rel="stylesheet" href="https://versions.bulma.io/0.9.4/css/bulma.css?v=202205081717">
  </head>
  <body>
    

<nav id="navbar" class="navbar">
  
  <div class="navbar-brand">
    <a class="navbar-item" href="https://versions.bulma.io/0.9.4">
      <img src="https://versions.bulma.io/0.9.4/images/bulma-logo.png" width="112" height="28">
    </a>

    <a class="navbar-burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item is-active">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>

</nav>

<nav id="navbar-container" class="navbar">
  <div class="container">
    
  <div class="navbar-brand">
    <a class="navbar-item" href="https://versions.bulma.io/0.9.4">
      <img src="https://versions.bulma.io/0.9.4/images/bulma-logo.png" width="112" height="28">
    </a>

    <a class="navbar-burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item is-active">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>

  </div>
</nav>

<nav id="navbar-has-shadow" class="navbar has-shadow">
  
  <div class="navbar-brand">
    <a class="navbar-item" href="https://versions.bulma.io/0.9.4">
      <img src="https://versions.bulma.io/0.9.4/images/bulma-logo.png" width="112" height="28">
    </a>

    <a class="navbar-burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item is-active">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>

</nav>

<nav id="navbar-is-fixed-top" class="navbar is-fixed-top">
  
  <div class="navbar-brand">
    <a class="navbar-item" href="https://versions.bulma.io/0.9.4">
      <img src="https://versions.bulma.io/0.9.4/images/bulma-logo.png" width="112" height="28">
    </a>

    <a class="navbar-burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item is-active">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>

</nav>

<nav id="navbar-is-fixed-bottom" class="navbar is-fixed-bottom">
  
  <div class="navbar-brand">
    <a class="navbar-item" href="https://versions.bulma.io/0.9.4">
      <img src="https://versions.bulma.io/0.9.4/images/bulma-logo.png" width="112" height="28">
    </a>

    <a class="navbar-burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item is-active">
        Documentation
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>

</nav>


  <nav id="navbar-primary" class="navbar is-primary">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://versions.bulma.io/0.9.4">
        
          <img src="https://versions.bulma.io/0.9.4/images/bulma-logo-white.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        
      </a>
      <div class="navbar-burger" data-target="navMenuColorprimary-example">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenuColorprimary-example" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="https://versions.bulma.io/0.9.4/">
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://versions.bulma.io/0.9.4/documentation/overview/start/">
            Docs
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/overview/start/">
              Overview
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/overview/modifiers/">
              Modifiers
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/columns/basics/">
              Columns
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/layout/container/">
              Layout
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/form/general/">
              Form
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/elements/box/">
              Elements
            </a>
            <a class="navbar-item is-active" href="https://versions.bulma.io/0.9.4/documentation/components/breadcrumb/">
              Components
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
                <span>
                  Tweet
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.9.4/bulma-0.9.4.zip">
                <span class="icon">
                  <i class="fas fa-download"></i>
                </span>
                <span>Download</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <nav id="navbar-link" class="navbar is-link">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://versions.bulma.io/0.9.4">
        
          <img src="https://versions.bulma.io/0.9.4/images/bulma-logo-white.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        
      </a>
      <div class="navbar-burger" data-target="navMenuColorlink-example">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenuColorlink-example" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="https://versions.bulma.io/0.9.4/">
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://versions.bulma.io/0.9.4/documentation/overview/start/">
            Docs
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/overview/start/">
              Overview
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/overview/modifiers/">
              Modifiers
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/columns/basics/">
              Columns
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/layout/container/">
              Layout
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/form/general/">
              Form
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/elements/box/">
              Elements
            </a>
            <a class="navbar-item is-active" href="https://versions.bulma.io/0.9.4/documentation/components/breadcrumb/">
              Components
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
                <span>
                  Tweet
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.9.4/bulma-0.9.4.zip">
                <span class="icon">
                  <i class="fas fa-download"></i>
                </span>
                <span>Download</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <nav id="navbar-info" class="navbar is-info">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://versions.bulma.io/0.9.4">
        
          <img src="https://versions.bulma.io/0.9.4/images/bulma-logo-white.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        
      </a>
      <div class="navbar-burger" data-target="navMenuColorinfo-example">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenuColorinfo-example" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="https://versions.bulma.io/0.9.4/">
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://versions.bulma.io/0.9.4/documentation/overview/start/">
            Docs
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/overview/start/">
              Overview
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/overview/modifiers/">
              Modifiers
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/columns/basics/">
              Columns
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/layout/container/">
              Layout
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/form/general/">
              Form
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/elements/box/">
              Elements
            </a>
            <a class="navbar-item is-active" href="https://versions.bulma.io/0.9.4/documentation/components/breadcrumb/">
              Components
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
                <span>
                  Tweet
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.9.4/bulma-0.9.4.zip">
                <span class="icon">
                  <i class="fas fa-download"></i>
                </span>
                <span>Download</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <nav id="navbar-success" class="navbar is-success">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://versions.bulma.io/0.9.4">
        
          <img src="https://versions.bulma.io/0.9.4/images/bulma-logo-white.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        
      </a>
      <div class="navbar-burger" data-target="navMenuColorsuccess-example">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenuColorsuccess-example" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="https://versions.bulma.io/0.9.4/">
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://versions.bulma.io/0.9.4/documentation/overview/start/">
            Docs
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/overview/start/">
              Overview
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/overview/modifiers/">
              Modifiers
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/columns/basics/">
              Columns
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/layout/container/">
              Layout
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/form/general/">
              Form
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/elements/box/">
              Elements
            </a>
            <a class="navbar-item is-active" href="https://versions.bulma.io/0.9.4/documentation/components/breadcrumb/">
              Components
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
                <span>
                  Tweet
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.9.4/bulma-0.9.4.zip">
                <span class="icon">
                  <i class="fas fa-download"></i>
                </span>
                <span>Download</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <nav id="navbar-warning" class="navbar is-warning">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://versions.bulma.io/0.9.4">
        
          <img src="https://versions.bulma.io/0.9.4/images/bulma-logo-white.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        
      </a>
      <div class="navbar-burger" data-target="navMenuColorwarning-example">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenuColorwarning-example" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="https://versions.bulma.io/0.9.4/">
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://versions.bulma.io/0.9.4/documentation/overview/start/">
            Docs
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/overview/start/">
              Overview
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/overview/modifiers/">
              Modifiers
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/columns/basics/">
              Columns
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/layout/container/">
              Layout
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/form/general/">
              Form
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/elements/box/">
              Elements
            </a>
            <a class="navbar-item is-active" href="https://versions.bulma.io/0.9.4/documentation/components/breadcrumb/">
              Components
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
                <span>
                  Tweet
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.9.4/bulma-0.9.4.zip">
                <span class="icon">
                  <i class="fas fa-download"></i>
                </span>
                <span>Download</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <nav id="navbar-danger" class="navbar is-danger">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://versions.bulma.io/0.9.4">
        
          <img src="https://versions.bulma.io/0.9.4/images/bulma-logo-white.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        
      </a>
      <div class="navbar-burger" data-target="navMenuColordanger-example">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenuColordanger-example" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="https://versions.bulma.io/0.9.4/">
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://versions.bulma.io/0.9.4/documentation/overview/start/">
            Docs
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/overview/start/">
              Overview
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/overview/modifiers/">
              Modifiers
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/columns/basics/">
              Columns
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/layout/container/">
              Layout
            </a>
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/form/general/">
              Form
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://versions.bulma.io/0.9.4/documentation/elements/box/">
              Elements
            </a>
            <a class="navbar-item is-active" href="https://versions.bulma.io/0.9.4/documentation/components/breadcrumb/">
              Components
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
                <span>
                  Tweet
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.9.4/bulma-0.9.4.zip">
                <span class="icon">
                  <i class="fas fa-download"></i>
                </span>
                <span>Download</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>


  </body>
</html>
